*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
  body {
    font-family: 'Varela Round', sans-serif;
  }
#songplayer{
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cover{
   background: rgba(44, 44, 44, 0.6) ;
   height: 100vh;
  
}
  .wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .albumcover{
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    box-shadow: 0px 4px 7px rgb(0, 0, 0);
  }
  .albumcover > img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
  }
  .nowplaying{
    font-size: 30px;
    color: rgb(241, 241, 241);
  }
  .artist{
    margin-top: 5px;
    font-size: 15px;
    color: rgb(185, 185, 185);
  }
  .button{
    display: flex;
    flex-direction: row;
    align-items:center ;
  }
.prev{
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    opacity: 0.6;
  transition: opacity .2s;
}
.playpause{
  padding: 25px;
  opacity: 0.6;
  transition: opacity .2s;
  }
.next{
    padding-left: 20px;
    padding-top:25px;
    padding-bottom: 25px;
    opacity: 0.6;
  transition: opacity .2s;
}
.repeatbtn{
    display: flex;
    flex-direction: row;
    align-items:center ;
    
}
.repeat{
    margin-left: 100px;
    opacity: 0.6;
    transition: opacity .2s;
}
.lyrics{
    padding-right:25px;
    opacity: 0.6;
    transition: opacity .2s;
}
.prev:hover,
.playpause:hover{
    opacity: 1.0;
}
.next:hover,
.repeat:hover{
    opacity: 1.0;
}
.lyrics:hover{
    opacity: 1.0;
}
